
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center;
}

.logo{
   background-image: url(../img/logo.jpg);
   background-size: cover;
   border-radius: 5px;
   width:75px;
   height:75px;
   box-shadow: 0 0 35px #6eff3e;

}
.container{
    font-family: Times, serif, Arial, Helvetica, sans-serif;
    font: 40px Helvetica, sans-serif, Arial;
    font-size: 50px;
    font-weight: bold;
    font-variant: small-caps;
}
.navbar{
    color: blue;
    box-shadow: 0 0 35px #6eff3e;
}

.acc{
    padding-left: 5px;
     
}

.btn3{
    background:#fff;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition:0.5s;
    border-radius: 5px;
    border-color: greenyellow;
}
.btn3:hover{
    background:#6eff3e;
    box-shadow: 0 0 35px #6eff3e;
}

