@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hero-section-height: calc(100vh - 60px - 73px);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f7f1;
  color: #1a1a1a;
}

.home {
  z-index: 3;
  position: relative;
  overflow: hidden;
}
.home::before {
  content: "";
  position: absolute;
  margin-top: 30vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--IMG-URL-left);
  background-repeat: repeat-y;
  background-position: left top;
  z-index: 1;
}
.home::after {
  content: "";
  position: absolute;
  margin-top: 90vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--IMG-URL-right);
  background-repeat: repeat-y;
  background-position: right bottom;
  z-index: 1;
}
@media (min-width: 768px) {
  .hero_section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--IMG-URL);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
  }
}
.team_card::before {
  content: "";
  position: absolute;
  top: -35%;
  left: -35%;
  width: 170%;
  height: 170%;
  background-image: var(--IMG-URL);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.gotu {
  font-family: Gotu;
}

@font-face {
  font-family: "Mammoth";
  src: url("./Assets/Mammoth.otf");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.Toastify__toast-container {
  width: min(50vw, 500px) !important;
}

hr {
  height: 1px;
  border: none;
  background: white;
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -o-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
