@tailwind base;
@tailwind components;
@tailwind utilities;


/* inter font */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Inter:wght@300&display=swap');

@layer base{
  @font-face {
    font-family: 'brandonBoldItalic';
    src: url('../public/fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-bold-italic.woff2') format('woff2') ;
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'brandonBlack';
    src: url('../public/fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-black.woff2') format('woff2') ;
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'brandonLight';
    src: url('../public/fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-light-58a8a4b38001d.woff2') format('woff2') ;
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'brandonLightItalic';
    src: url('../public/fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-light-italic.woff2') format('woff2') ;
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'brandomMediumItalic';
    src: url('../public/fonts/Brandon-Grotesque-Font-Family//brandon-grotesque-medium-italic.woff2');
  }

  @font-face {
    font-family: 'BrandonRegularItalic';
    src: url('../public/fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-regular-italic.woff2');
  }

  @font-face {
    font-family: 'brandonThinItalic';
    src: url('../public/fonts/Brandon-Grotesque-Font-Family/brandon-grotesque-thin-italic.woff2');
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
  }
}

body {
  background: #F5F7F7;

  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.selectHide{
    background:transparent;
    border:0px;
    padding:0px;
    width: 20px;
}

/* testing  the dropdown css */
.optionCSS option{
  padding: 30px;
  margin: 20px;
  font-size: large;
}
