/* ./src/index.css */
@tailwind base;
@tailwind components;

@tailwind utilities;

/* css for app component only */

/*see styles.css at root of project for global css*/

body{
    background: #000;
  }
  
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .input-text {
    display: inline;
    margin: 0;
    border: none;
    border-radius: 0.4rem;
    padding: 10px;
    color: gray;
  }
  
  .list ul li button {
    position: absolute;
    right: 0%;
    background: rgb(93, 255, 68);
    color: rgb(228, 223, 223) !important;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
    border-radius: 0.4rem;
    display: inline-block;
    border: none;
  }
  
  .add-btn {
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background: palevioletred;
    margin: 20px;
    padding: 10px;
    border-radius: 0.4rem;
    display: inline-block;
    border: none;
  }
  
  .app-title {
    text-align: center;
    color: #c1c1c1;
    font-size: 70px;
  }
  ul {
    /* remove default padding and margin from ul*/
    margin: 0px;
    padding: 0px;
  }
  .list ul li {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000000;
    background-color: white;
    line-height: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #c1c1c1;
    padding: 10px;
    position: relative;
  }
  
  .container {
    color: rgb(95, 94, 94);
    max-width: 500px;
    margin: auto;
  }