*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../src/img/backimg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x:hidden;
}
.ana{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 justify-content: space-between;
}
.Ana1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../src/img/tezos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    width:250px;
    height:200px;
    box-shadow: 0 0 35px #6eff3e;
    margin-left: 30px;
}
.tic1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    border-color: black;
    border-radius: 5px;
    margin: 45px;
    /* background-color: aqua; */
    gap: 15px;
    

}

.py-1{
    position: center;
    font-size: 45px;
    background-color:greenyellow;
    border-radius: 5px;
    padding:5px;
    text-decoration: underline;
    color:#fd5b78;
    border-style: solid;
    border-width:5px;
    border-color: #ff9933;
    box-shadow: 0 0 35px #ff9933;
}

.btn1{
    position:relative;
    background:#ff355e;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition:0.5s;
}
.btn1:hover{
    background:#1e9bff;
    color:black;
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px #1e9bff;
}
.btn1:before{
 content: '';
 position: absolute;
 inset:2px;
 /* background: #27282c; */
}
.btn1 span{
    position: relative;
    z-index: 1;
}
.btn1 i {
    position: absolute;
    inset:0;
    display: block;
}

.btn1 i::before{
    content: '';
    position: absolute;
    top:0;
    left:80%;
    width: 10px;
    height:4px;
    background: #fff;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.btn1:hover i::before{
    width:20px;
    left:20%;
}

.btn1 i::after{
    content: '';
    position: absolute;
    bottom:0;
    left:20%;
    width: 10px;
    height:4px;
    background: #fff;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

.btn1:hover i::after{
    width:20px;
    left:80%;
}


.player{
    position:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    font-size: 20px;;
    border-radius: 5px;
    border-style: solid;
    border-width:5px;
    border-color: greenyellow;
    /* background: rgb(157, 104, 206); */
    padding: 5px;
    box-shadow: 0 0 35px #6eff3e;
}

.ticket{
   
   background-image: url(../src/img/ticket.jpg);
   background-size: cover;
   border-radius: 5px;
   width:175px;
   height:90px;
   box-shadow: 0 0 35px #ff9933;
}
.play{
    margin-top: 10px;
   text-align: left;
   padding: 5px;
   line-height: 30px;
}
.Ana2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../src/img/prize.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    width:250px;
    height:200px;
    box-shadow: 0 0 35px #6eff3e;
    margin-right: 30px;
}
