body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#certificateWrapper  {

  position: relative;

}
#certificateWrapper img {
  display: block;
  width: 500px;
}
#certificateWrapper p.name {
  color: black;
  font-family: "Staatliches", cursive;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  position: absolute;
  top: 150px;
  font-size: 16pt;
}

#certificateWrapper p.event {
  color: black;
  font-family: "Staatliches", cursive;
  position: absolute;
  margin: 0;
  left: 245px;
  top: 198px;
  font-size: 12pt;
}